__pycache__/
*.py[cod]
*.so

build/
dist/
*.egg-info/
.eggs/
.coverage
coverage.xml

.pytest_cache/
_build/

.venv/
htmlcov/

# vscode
.vscode
output_titles/
output_tables/
excel_outputs/
pdfs/
output_test/
pdf_三季度/
output_三季度/
Boundaries Mask.png
joints_after_dilation.png